In [2]:
### prueba

In [3]:
import pandas as pd 
import numpy as np
from datetime import datetime

In [8]:
url = "https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv"

In [11]:
covid_1=pd.read_csv(url, sep=",")
covid_1

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
0,AFG,Asia,Afghanistan,2019-12-31,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
1,AFG,Asia,Afghanistan,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
2,AFG,Asia,Afghanistan,2020-01-02,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
3,AFG,Asia,Afghanistan,2020-01-03,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
4,AFG,Asia,Afghanistan,2020-01-04,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33832,NaN,NaN,International,2020-02-28,705.0,0.0,4.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33833,NaN,NaN,International,2020-02-29,705.0,0.0,6.0,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33834,NaN,NaN,International,2020-03-01,705.0,0.0,6.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33835,NaN,NaN,International,2020-03-02,705.0,0.0,6.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33836,NaN,NaN,International,2020-03-10,696.0,-9.0,7.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
covid_1= covid_1[(covid_1.location == "Spain") | (covid_1.location == "Iran") | (covid_1.location == "Netherlands") | (covid_1.location == "Mexico") | (covid_1.location == "Brazil")]

In [13]:
covid_1.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'total_deaths', 'new_deaths', 'total_cases_per_million',
       'new_cases_per_million', 'total_deaths_per_million',
       'new_deaths_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand', 'tests_units',
       'stringency_index', 'population', 'population_density', 'median_age',
       'aged_65_older', 'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy'],
      dtype='object')

In [14]:
covid= covid_1.loc[:,['location', 'date', 'total_cases']]
covid

      location        date  total_cases
4364    Brazil  2019-12-31          0.0
4365    Brazil  2020-01-01          0.0
4366    Brazil  2020-01-02          0.0
4367    Brazil  2020-01-03          0.0
4368    Brazil  2020-01-04          0.0
...        ...         ...          ...
28594    Spain  2020-07-26     272421.0
28595    Spain  2020-07-27     278782.0
28596    Spain  2020-07-28     280610.0
28597    Spain  2020-07-29     282641.0
28598    Spain  2020-07-30     285430.0

[1069 rows x 3 columns]

In [6]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33627 entries, 0 to 33626
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   location     33627 non-null  object
 1   date         33627 non-null  object
 2   total_cases  33272 non-null  float64
dtypes: float64(1), object(2)
memory usage: 788.3+ KB

In [15]:
covid_definitivo=covid.groupby("date")["total_cases"].mean()
covid_definitivo

date
2019-12-31         0.0
2020-01-01         0.0
2020-01-02         0.0
2020-01-03         0.0
2020-01-04         0.0
                ...
2020-07-27    686501.4
2020-07-28    693046.2
2020-07-29    703635.2
2020-07-30    719734.8
2020-07-31    845443.5
Name: total_cases, Length: 214, dtype: float64

In [17]:
covid_json= covid_definitivo.to_json("equipo_c.json") #convertir en json