# Title

In [6]:
import pandas as pd
import numpy as np
import json

In [8]:
url = "https://covid.ourworldindata.org/data/owid-covid-data.csv"
data = pd.read_csv(url)
Data_all_countries = data[(data.location == "Spain") | (data.location == "Iran") | (data.location == "Netherlands") | (data.location == "Mexico") | (data.location == "Brazil")] #Filtering our countries from dataset

In [9]:
mean_per_day = Data_all_countries.groupby("date")["total_cases"].mean() #calculating mean per day of all countries
json_mean_total_cases = mean_per_day.to_json("Mean_per_day.json") #converting to Json

None

In [13]:
import from apis_tb.py

SyntaxError: invalid syntax (<ipython-input-13-474a1e31a896>, line 1)

In [12]:
Data_all_countries.date = pd.to_datetime(Data_all_countries.date) #changing date to datetime and setting as index
Data_all_countries1 = Data_all_countries.set_index("date")
Data_all_countries

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
4337,BRA,South America,Brazil,2019-12-31,0.0,0.0,0.0,0.0,0.000,0.000,...,5.060,14103.452,3.4,177.961,8.11,10.1,17.9,NaN,2.20,75.88
4338,BRA,South America,Brazil,2020-01-01,0.0,0.0,0.0,0.0,0.000,0.000,...,5.060,14103.452,3.4,177.961,8.11,10.1,17.9,NaN,2.20,75.88
4339,BRA,South America,Brazil,2020-01-02,0.0,0.0,0.0,0.0,0.000,0.000,...,5.060,14103.452,3.4,177.961,8.11,10.1,17.9,NaN,2.20,75.88
4340,BRA,South America,Brazil,2020-01-03,0.0,0.0,0.0,0.0,0.000,0.000,...,5.060,14103.452,3.4,177.961,8.11,10.1,17.9,NaN,2.20,75.88
4341,BRA,South America,Brazil,2020-01-04,0.0,0.0,0.0,0.0,0.000,0.000,...,5.060,14103.452,3.4,177.961,8.11,10.1,17.9,NaN,2.20,75.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28417,ESP,Europe,Spain,2020-07-25,272421.0,0.0,28432.0,0.0,5826.591,0.000,...,13.799,34272.360,1.0,99.403,7.17,27.4,31.4,NaN,2.97,83.56
28418,ESP,Europe,Spain,2020-07-26,272421.0,0.0,28432.0,0.0,5826.591,0.000,...,13.799,34272.360,1.0,99.403,7.17,27.4,31.4,NaN,2.97,83.56
28419,ESP,Europe,Spain,2020-07-27,278782.0,6361.0,28434.0,2.0,5962.641,136.050,...,13.799,34272.360,1.0,99.403,7.17,27.4,31.4,NaN,2.97,83.56
28420,ESP,Europe,Spain,2020-07-28,280610.0,1828.0,28436.0,2.0,6001.739,39.098,...,13.799,34272.360,1.0,99.403,7.17,27.4,31.4,NaN,2.97,83.56
28421,ESP,Europe,Spain,2020-07-29,282641.0,2031.0,28441.0,5.0,6045.178,43.439,...,13.799,34272.360,1.0,99.403,7.17,27.4,31.4,NaN,2.97,83.56

In [ ]:
Data_all_countries.handwashing_facilities.isnull().count() #TODO # All rows have None value for, to be deleted?